@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");
.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "M PLUS Rounded 1c", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #393939;
  font-weight: 500;
  line-height: 1.71428;
  background-color: #FFF;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.badge-new {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #EE5A6D;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 700;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .badge-new {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1rem;
  }
}

/* ラッパーモジュールの指定 */
.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-bottom: -1.875rem;
}
@media screen and (min-width: 768px) {
  .blog-cards {
    margin-bottom: -3.125rem;
  }
}

.blog-cards__item-wrap {
  position: relative;
  width: 47.62%;
  max-width: 300px;
  max-width: 18.75rem;
  margin-right: 4.76%;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
.blog-cards__item-wrap:nth-child(2n) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .blog-cards__item-wrap {
    width: 29.9999966667%;
    margin-right: 5%;
    margin-bottom: 3.125rem;
  }
  .blog-cards__item-wrap:nth-child(2n) {
    margin-right: 5%;
  }
  .blog-cards__item-wrap:nth-child(3n) {
    margin-right: 0px;
  }
}

.blog-cards__item {
  width: 100%;
  height: auto;
}

.blog-cards__item_badge-new {
  position: absolute;
  top: -20px;
  left: -10px;
  z-index: 1;
}

.btn {
  display: inline-block;
  min-width: 164px;
  max-width: 100%;
  padding: 0.465em 2.8em;
  letter-spacing: 0;
  background-color: #FFF;
  border: 1px solid currentColor;
  color: #1391E6;
  text-align: center;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:focus, .btn:hover {
  background-color: #1391E6;
  border-color: transparent;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .btn {
    min-width: 176px;
    padding: 0.6087em 3.2em;
  }
}

.btn_arrow_right {
  position: relative;
}
.btn_arrow_right::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(./../../images/common/arrow-right-blue.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 0.86em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_arrow_right:hover::after, .btn_arrow_right:focus::after {
  background: url(./../../images/common/arrow-right-white.png) no-repeat center center/contain;
  right: -1%;
}

.card {
  display: block;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__img-wrapper {
  position: relative;
  aspect-ratio: 75/47;
}

.card__img {
  width: 100%;
  height: 188px;
  height: 11.75rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  /* ホバーで画像拡大 */
  /* 画像の微調整時記述 css設計 p314参照*/
}
.card__img:focus, .card__img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.card__label {
  position: absolute;
  bottom: 0;
  left: 8%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 1;
}

.card__body {
  padding: 16px 16px 13px 16px;
  padding: 1rem 1rem 0.8125rem 1rem;
  background: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.card__body > :last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .card__body {
    padding: 1.5rem 1.5rem 0.8125rem 1.5rem;
  }
}

.card__title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 3px;
  margin-bottom: 0.1875rem;
}
.card__title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.25em;
  content: "";
}
.card__title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.25em;
  content: "";
}

.card__date {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 3.4545454545;
  color: #888;
}
.card__date::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -1.22727em;
  content: "";
}
.card__date::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -1.22727em;
  content: "";
}

.content-link {
  display: inline-block;
  max-width: 335px;
  width: 100%;
  padding: 0.543em 1em;
  border-radius: 0.75rem;
  background-color: #FFF;
  color: #1391E6;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
  border: 2px solid currentColor;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .content-link {
    padding: 0.56em 1.214em;
    font-size: 1.5rem;
    width: auto;
    max-width: none;
  }
}
.content-link::after {
  content: "";
  position: absolute;
  background: url(./../../images/common/arrow-down.png) no-repeat center center/contain;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  right: 50%;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, 110%);
          transform: translate(-50%, 110%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.content-link:focus, .content-link:hover {
  background-color: #DFF1FD;
}
.content-link:focus::after, .content-link:hover::after {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.content-link__text {
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content-link:hover .content-link__text,
.content-link:focus .content-link__text {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cta-bottom {
  display: inline-block;
  min-width: 157px;
  padding: 0.607em 1.53em 0.607em 1.17em;
  border-radius: 0.5rem;
  background-color: #1391E6;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cta-bottom:focus, .cta-bottom:hover {
  background: #0060A0;
}

.cta-icon_04_size {
  width: 43.49px;
  width: 2.718125rem;
  height: 25.47px;
  height: 1.591875rem;
}

.cta-bottom__text-wrap {
  line-height: 1;
  text-align: center;
  margin-left: 0.7142857143em;
}

.cta-bottom__text_lg {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.cta-bottom__text_md {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

.cta-side {
  width: 92px;
  width: 5.75rem;
  height: 120px;
  height: 7.5rem;
  background-color: #1391E6;
  border-top-left-radius: 20px;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cta-side:focus, .cta-side:hover {
  background: #0060A0;
}

.cta-icon_03_size {
  width: 48.86px;
  width: 3.05375rem;
  height: 28.61px;
  height: 1.788125rem;
}

.cta-side__text-wrap {
  line-height: 1.25;
  margin-top: 0.8571428571em;
}

.cta-side__text {
  color: #FFF;
}

.cta {
  display: inline-block;
  min-width: 150px;
  max-width: 100%;
  padding: 0.43em 1.4em;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cta_footer-text {
  margin-left: 0.57em;
}

/* 白いボタン */
.cta_footer_white,
.cta_submit {
  background-color: #FFF;
  border: 1px solid currentColor;
  color: #1391E6;
}
.cta_footer_white:focus, .cta_footer_white:hover,
.cta_submit:focus,
.cta_submit:hover {
  background-color: #1391E6;
  border-color: transparent;
  color: #FFF;
}

.cta_footer_white:hover .cta-icon_01_fill,
.cta_footer_white:focus .cta-icon_01_fill {
  fill: #FFF;
}

@media screen and (max-width: 767px) {
  .cta-icon_01_size {
    width: 17.48px;
  }
}

/* 青いボタン */
.cta_footer_blue {
  background-color: #1391E6;
  border: 1px solid transparent;
  color: #FFF;
}
.cta_footer_blue:focus, .cta_footer_blue:hover {
  background-color: #FFF;
  border-color: currentColor;
  color: #1391E6;
}

.cta_footer_blue:hover .cta-icon_02_fill,
.cta_footer_blue:focus .cta-icon_02_fill {
  fill: #1391E6;
}

@media screen and (max-width: 767px) {
  .cta-icon_02_size {
    width: 25.05px;
  }
}

/* 送信ボタン */
.cta_submit {
  display: inline-block;
  min-width: 273px;
  text-align: center;
  letter-spacing: 1.2em;
  text-indent: 1.2em;
}
@media screen and (min-width: 768px) {
  .cta_submit {
    min-width: 360px;
  }
}

.global-nav {
  background: transparent;
}

.global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-nav__item {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}
.global-nav__item:first-child {
  padding-left: 0;
}
.global-nav__item:last-child {
  padding-right: 0;
}

.global-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-nav__icon {
  fill: #393939;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.global-nav__link-text {
  font-size: 11px;
  font-size: 0.6875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* ホバー */
.global-nav__item:hover .global-nav__icon {
  fill: #1391E6;
}

.global-nav__item:hover .global-nav__link-text {
  color: #1391E6;
}

.heading01 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.heading01::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.3em;
  content: "";
}
.heading01::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.3em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading01 {
    font-size: 1.75rem;
    font-size: 28px;
    line-height: 1.4285714286;
  }
  .heading01::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.21429em;
    content: "";
  }
  .heading01::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.21429em;
    content: "";
  }
}

.heading02 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.heading02__bar-left {
  display: inline-block;
  width: 6px;
  width: 0.375rem;
  height: 40px;
  height: 2.5rem;
  background-color: #1391E6;
}
@media screen and (min-width: 768px) {
  .heading02__bar-left {
    width: 0.5rem;
    height: 3.25rem;
  }
}

.heading02__text {
  font-size: 18px;
  font-size: 1.125rem;
  color: #1391E6;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 18px;
  line-height: 1.7777777778;
  margin-left: 12px;
  margin-left: 0.75rem;
}
.heading02__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.38889em;
  content: "";
}
.heading02__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.38889em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading02__text {
    font-size: 1.5rem;
    font-size: 24px;
    line-height: 1.3333333333;
  }
  .heading02__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.16667em;
    content: "";
  }
  .heading02__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.16667em;
    content: "";
  }
}

.heading03 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: #1391E6;
  letter-spacing: 0.08em;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid currentColor;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.heading03::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.5em;
  content: "";
}
.heading03::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.5em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading03 {
    font-size: 1.25rem;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 0.4375rem;
    margin-bottom: 1rem;
  }
  .heading03::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.3em;
    content: "";
  }
  .heading03::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.3em;
    content: "";
  }
}

.heading04 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #1391E6;
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 2.2857142857;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.heading04::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.64286em;
  content: "";
}
.heading04::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.64286em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading04 {
    font-size: 1rem;
    font-size: 16px;
    line-height: 2;
  }
  .heading04::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.5em;
    content: "";
  }
  .heading04::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.5em;
    content: "";
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.label {
  display: inline-block;
  color: #FFF;
  letter-spacing: 0.08em;
  background-color: #1391E6;
}

.label_md {
  padding: 0.043em 0.64em;
  font-size: 10px;
  font-size: 0.625rem;
  border-radius: 0.625rem;
}
@media screen and (min-width: 768px) {
  .label_md {
    padding: 0.42em 0.97em;
    font-size: 0.6875rem;
    border-radius: 0.875rem;
  }
}

.label_lg,
.label_lg_pink {
  padding: 0.394em 0.84em;
  font-weight: 700;
  border-radius: 1.5rem;
}

.label_require {
  padding: 0.102em 0.42em;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.25rem;
}

.label_require,
.label_lg_pink {
  background-color: #EE5A6D;
}

.lead {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .lead {
    margin-bottom: 2.5rem;
  }
}

.lead__tag {
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 11px;
  line-height: 3.2727272727;
  color: #1391E6;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.lead__tag::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -1.13636em;
  content: "";
}
.lead__tag::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -1.13636em;
  content: "";
}
@media screen and (min-width: 768px) {
  .lead__tag {
    font-size: 0.875rem;
    font-size: 14px;
    line-height: 2.5714285714;
    margin-bottom: 1.75rem;
  }
  .lead__tag::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.78571em;
    content: "";
  }
  .lead__tag::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.78571em;
    content: "";
  }
}

.lead__text {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.6;
}
.lead__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.3em;
  content: "";
}
.lead__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.3em;
  content: "";
}
@media screen and (min-width: 768px) {
  .lead__text {
    font-size: 1.75rem;
    font-size: 28px;
    line-height: 1.5714285714;
  }
  .lead__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.28571em;
    content: "";
  }
  .lead__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.28571em;
    content: "";
  }
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.70149%;
          flex: 0 1 39.70149%;
  margin-right: 2.98507%;
}
@media screen and (min-width: 768px) {
  .media__img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 36.41791%;
            flex: 0 1 36.41791%;
    margin-right: 2.98507%;
  }
}

.media__img {
  width: 100%;
}

.media__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.media__body > :last-child {
  margin-bottom: 0;
}

.media__label {
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
@media screen and (min-width: 768px) {
  .media__label {
    margin-bottom: 1rem;
  }
}

.media__title {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  text-align: justify;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
.media__title::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.21429em;
  content: "";
}
.media__title::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.21429em;
  content: "";
}
@media screen and (min-width: 768px) {
  .media__title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .media__title::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.25em;
    content: "";
  }
  .media__title::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.25em;
    content: "";
  }
}

.media__date {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 3.4545454545;
  color: #888;
}
.media__date::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -1.22727em;
  content: "";
}
.media__date::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -1.22727em;
  content: "";
}
@media screen and (min-width: 768px) {
  .media__date {
    font-size: 0.75rem;
    line-height: 3;
  }
  .media__date::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -1em;
    content: "";
  }
  .media__date::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -1em;
    content: "";
  }
}

.medical-link {
  width: 100%;
  max-width: 500px;
  max-width: 31.25rem;
  position: relative;
  height: 210px;
  height: 13.125rem;
  border-radius: 1.25rem;
  display: block;
  overflow: hidden;
  /* オーバーレイ */
}
@media screen and (min-width: 768px) {
  .medical-link {
    width: 46%;
    height: 18rem;
  }
}
.medical-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  /* ホバー用 */
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.medical-link:nth-child(1)::before {
  background-image: url(./../../images/front-page/medical_01.jpg);
}
.medical-link:nth-child(2)::before {
  background-image: url(./../../images/front-page/medical_02.jpg);
}
.medical-link::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.medical-link:hover::before, .medical-link:hover::after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: rgba(0, 0, 0, .4);
}

/* 二重線 */
.medical-link__line {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.medical-link:hover .medical-link__line {
  border: 2px solid #FFF;
}

.medical-link__content {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  z-index: 2;
  text-align: center;
}

.medical-link__heading {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.15;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  position: relative;
}
.medical-link__heading::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.075em;
  content: "";
}
.medical-link__heading::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.075em;
  content: "";
}
.medical-link__heading::after {
  content: "";
  width: 30px;
  width: 1.875rem;
  height: 2px;
  height: 0.125rem;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .medical-link__heading {
    font-size: 1.75rem;
    font-size: 28px;
    line-height: 1.1428571429;
  }
  .medical-link__heading::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.07143em;
    content: "";
  }
  .medical-link__heading::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.07143em;
    content: "";
  }
  .medical-link__heading::after {
    content: "";
    width: 2.5rem;
    height: 0.125rem;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.medical-link__text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 0.08em;
  font-size: 12px;
  line-height: 1.5833333333;
}
.medical-link__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.29167em;
  content: "";
}
.medical-link__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.29167em;
  content: "";
}
@media screen and (min-width: 768px) {
  .medical-link__text {
    font-size: 1rem;
    font-size: 16px;
    line-height: 1.75;
  }
  .medical-link__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.375em;
    content: "";
  }
  .medical-link__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.375em;
    content: "";
  }
}

.page-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-link__icon {
  display: inline-block;
  width: 6px;
  width: 0.375rem;
  height: 12px;
  height: 0.75rem;
  margin-right: 6px;
  margin-right: 0.375rem;
}

.page-link__text {
  font-size: 16px;
  font-size: 1rem;
}

.section-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 3.75rem;
  }
}

.section-title__text {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.08em;
  margin: 0 16px;
  margin: 0 1rem;
}
.section-title__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.2em;
  content: "";
}
.section-title__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.2em;
  content: "";
}
@media screen and (min-width: 768px) {
  .section-title__text {
    font-size: 1.75rem;
    line-height: 1.4285714286;
    margin: 0 1.75rem;
  }
  .section-title__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.21429em;
    content: "";
  }
  .section-title__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.21429em;
    content: "";
  }
}

.section-title__deco {
  display: inline-block;
  width: 48.98px;
  width: 3.06125rem;
  height: 12.84px;
  height: 0.8025rem;
}
@media screen and (min-width: 768px) {
  .section-title__deco {
    width: 4.2225rem;
    height: 1.25rem;
  }
}

.fa-phone {
  color: currentColor;
  font-size: 0.9em;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.tel-number__text {
  font-weight: 700;
  color: #1391E6;
}

.tel-number__text_md {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: -0.02em;
}
.tel-number__text_md::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.0625em;
  content: "";
}
.tel-number__text_md::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.0625em;
  content: "";
}

.tel-number__text_sm {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.15;
}
.tel-number__text_sm::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.075em;
  content: "";
}
.tel-number__text_sm::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.075em;
  content: "";
}

.global-nav__link {
  position: relative;
  /* 横線 */
  /* ホバーで幅20pxに */
}
.global-nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 2px;
  height: 0.125rem;
  border-radius: 100vh;
  background: #1391E6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.global-nav__link:hover::after, .global-nav__link:focus::after {
  width: 20px;
  width: 1.25rem;
}

.vertical-Posts {
  max-width: 538px;
  max-width: 33.625rem;
  width: 100%;
}

.vertical-Posts__item {
  padding-top: 9px;
  padding-top: 0.5625rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
  padding-right: 1.5em;
  padding-left: 0.82em;
  border-bottom: 1px solid #393939;
  position: relative;
}
.vertical-Posts__item:first-child {
  border-top: 1px solid #393939;
}
.vertical-Posts__item::after {
  content: "";
  width: 14px;
  width: 0.875rem;
  height: 14px;
  height: 0.875rem;
  background: url(./../../images/common/arrow-right-black.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.vertical-Posts__item:hover::after, .vertical-Posts__item:focus::after {
  background: url(./../../images/common/arrow-right-blue.png) no-repeat center center/contain;
  right: -0.5em;
}

.vertical-Posts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-Posts__date {
  font-size: 12px;
  font-size: 0.75rem;
  margin-right: 24px;
  margin-right: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vertical-Posts__title {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* ホバー時 */
.vertical-Posts__item:hover .vertical-Posts__date,
.vertical-Posts__item:hover .vertical-Posts__title {
  color: #1391E6;
}

/* フォーカス時 */
.vertical-Posts__link:focus .vertical-Posts__date,
.vertical-Posts__link:focus .vertical-Posts__title {
  color: #1391E6;
}

.blog__inner {
  max-width: 630px;
  max-width: 39.375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    max-width: 1000px;
  }
}

.medical__link-items {
  margin-bottom: -20px;
  margin-bottom: -1.25rem;
}
@media screen and (min-width: 768px) {
  .medical__link-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.medical__link-item {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .medical__link-item {
    margin-right: 8%;
  }
  .medical__link-item:nth-of-type(2n) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */
