@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");
.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.6;
  }
}

body {
  font-family: "M PLUS Rounded 1c", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #393939;
  font-weight: 500;
  line-height: 1.71428;
  background-color: #FFF;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.badgeNew {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #EE5A6D;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 700;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .badgeNew {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1rem;
  }
}

.btn {
  display: inline-block;
  min-width: 164px;
  max-width: 100%;
  padding: 0.465em 2.8em;
  letter-spacing: 0;
  background-color: #FFF;
  border: 1px solid currentColor;
  color: #1391E6;
  text-align: center;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:focus, .btn:hover {
  background-color: #1391E6;
  border-color: transparent;
  color: #FFF;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .btn {
    min-width: 176px;
    padding: 0.6087em 3.2em;
  }
}

.btn_arrow_right {
  position: relative;
}
.btn_arrow_right::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(/src/images/common/arrow-right-blue.png) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  right: 0.86em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_arrow_right:hover::after, .btn_arrow_right:focus::after {
  background: url(/src/images/common/arrow-right-white.png) no-repeat center center/contain;
  right: -1%;
}

.contentLink {
  display: inline-block;
  max-width: 335px;
  width: 100%;
  padding: 0.543em 1em;
  border-radius: 0.75rem;
  background-color: #FFF;
  color: #1391E6;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
  border: 2px solid currentColor;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .contentLink {
    padding: 0.56em 1.214em;
    font-size: 1.5rem;
    width: auto;
    max-width: none;
  }
}
.contentLink::after {
  content: "";
  position: absolute;
  background: url(/src/images/common/arrow-down.png) no-repeat center center/contain;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  right: 50%;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, 110%);
          transform: translate(-50%, 110%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contentLink:focus, .contentLink:hover {
  background-color: #DFF1FD;
  opacity: 1;
}
.contentLink:focus::after, .contentLink:hover::after {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.contentLink__text {
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contentLink:hover .contentLink__text {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cta {
  display: inline-block;
  min-width: 150px;
  max-width: 100%;
  padding: 0.43em 1.4em;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cta_footer_text {
  margin-left: 0.57em;
}

/* 白いボタン */
.cta_footer_white,
.cta_submit {
  background-color: #FFF;
  border: 1px solid currentColor;
  color: #1391E6;
}
.cta_footer_white:focus, .cta_footer_white:hover,
.cta_submit:focus,
.cta_submit:hover {
  background-color: #1391E6;
  border-color: transparent;
  color: #FFF;
  opacity: 1;
}

.cta_footer_white:hover .ctaIcon_01_fill {
  fill: #FFF;
}

@media screen and (max-width: 767px) {
  .ctaIcon_01_size {
    width: 17.48px;
  }
}

/* 青いボタン */
.cta_footer_blue {
  background-color: #1391E6;
  border: 1px solid transparent;
  color: #FFF;
}
.cta_footer_blue:focus, .cta_footer_blue:hover {
  background-color: #FFF;
  border-color: currentColor;
  color: #1391E6;
  opacity: 1;
}

.cta_footer_blue:hover .ctaIcon_02_fill {
  fill: #1391E6;
}

@media screen and (max-width: 767px) {
  .ctaIcon_02_size {
    width: 25.05px;
  }
}

/* 送信ボタン */
.cta_submit {
  display: inline-block;
  min-width: 273px;
  text-align: center;
  letter-spacing: 1.2em;
  text-indent: 1.2em;
}
@media screen and (min-width: 768px) {
  .cta_submit {
    min-width: 360px;
  }
}

.ctaBottom {
  display: inline-block;
  min-width: 157px;
  padding: 0.607em 1.53em 0.607em 1.17em;
  border-radius: 0.5rem;
  background-color: #1391E6;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ctaBottom:focus, .ctaBottom:hover {
  background: #0060A0;
  opacity: 1;
}

.ctaIcon_04_size {
  width: 43.49px;
  width: 2.718125rem;
  height: 25.47px;
  height: 1.591875rem;
}

.ctaBottom__textWrap {
  line-height: 1;
  text-align: center;
  margin-left: 0.7142857143em;
}

.ctaBottom__text_lg {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.ctaBottom__text_md {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

.ctaSide {
  width: 92px;
  width: 5.75rem;
  height: 120px;
  height: 7.5rem;
  background-color: #1391E6;
  border-top-left-radius: 20px;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.ctaSide:focus, .ctaSide:hover {
  background: #0060A0;
  opacity: 1;
}

.ctaIcon_03_size {
  width: 48.86px;
  width: 3.05375rem;
  height: 28.61px;
  height: 1.788125rem;
}

.ctaSide__textWrap {
  line-height: 1.25;
  margin-top: 0.8571428571em;
}

.ctaSide__text {
  color: #FFF;
}

.heading01 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.heading01::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.3em;
  content: "";
}
.heading01::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.3em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading01 {
    font-size: 1.75rem;
    font-size: 28px;
    line-height: 1.4285714286;
  }
  .heading01::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.21429em;
    content: "";
  }
  .heading01::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.21429em;
    content: "";
  }
}

.heading02 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.heading02__barLeft {
  display: inline-block;
  width: 6px;
  width: 0.375rem;
  height: 40px;
  height: 2.5rem;
  background-color: #1391E6;
}
@media screen and (min-width: 768px) {
  .heading02__barLeft {
    width: 0.5rem;
    height: 3.25rem;
  }
}

.heading02__text {
  font-size: 18px;
  font-size: 1.125rem;
  color: #1391E6;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 18px;
  line-height: 1.7777777778;
  margin-left: 12px;
  margin-left: 0.75rem;
}
.heading02__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.38889em;
  content: "";
}
.heading02__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.38889em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading02__text {
    font-size: 1.5rem;
    font-size: 24px;
    line-height: 1.3333333333;
  }
  .heading02__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.16667em;
    content: "";
  }
  .heading02__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.16667em;
    content: "";
  }
}

.heading03 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: #1391E6;
  letter-spacing: 0.08em;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid currentColor;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.heading03::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.5em;
  content: "";
}
.heading03::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.5em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading03 {
    font-size: 1.25rem;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 0.4375rem;
    margin-bottom: 1rem;
  }
  .heading03::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.3em;
    content: "";
  }
  .heading03::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.3em;
    content: "";
  }
}

.heading04 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #1391E6;
  letter-spacing: 0.08em;
  font-size: 14px;
  line-height: 2.2857142857;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.heading04::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.64286em;
  content: "";
}
.heading04::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.64286em;
  content: "";
}
@media screen and (min-width: 768px) {
  .heading04 {
    font-size: 1rem;
    font-size: 16px;
    line-height: 2;
  }
  .heading04::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.5em;
    content: "";
  }
  .heading04::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.5em;
    content: "";
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.label {
  display: inline-block;
  color: #FFF;
  letter-spacing: 0.08em;
  background-color: #1391E6;
}

.label_md {
  padding: 0.043em 0.64em;
  font-size: 10px;
  font-size: 0.625rem;
  border-radius: 0.625rem;
}
@media screen and (min-width: 768px) {
  .label_md {
    padding: 0.42em 0.97em;
    font-size: 0.6875rem;
    border-radius: 0.875rem;
  }
}

.label_lg,
.label_lg_pink {
  padding: 0.394em 0.84em;
  font-weight: 700;
  border-radius: 1.5rem;
}

.label_require {
  padding: 0.102em 0.42em;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.25rem;
}

.label_require,
.label_lg_pink {
  background-color: #EE5A6D;
}

.lead {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .lead {
    margin-bottom: 2.5rem;
  }
}

.lead__tag {
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 11px;
  line-height: 3.2727272727;
  color: #1391E6;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.lead__tag::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -1.13636em;
  content: "";
}
.lead__tag::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -1.13636em;
  content: "";
}
@media screen and (min-width: 768px) {
  .lead__tag {
    font-size: 0.875rem;
    font-size: 14px;
    line-height: 2.5714285714;
    margin-bottom: 1.75rem;
  }
  .lead__tag::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.78571em;
    content: "";
  }
  .lead__tag::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.78571em;
    content: "";
  }
}

.lead__text {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.6;
}
.lead__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.3em;
  content: "";
}
.lead__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.3em;
  content: "";
}
@media screen and (min-width: 768px) {
  .lead__text {
    font-size: 1.75rem;
    font-size: 28px;
    line-height: 1.5714285714;
  }
  .lead__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.28571em;
    content: "";
  }
  .lead__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.28571em;
    content: "";
  }
}

.pageLink {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageLink__icon {
  display: inline-block;
  width: 6px;
  width: 0.375rem;
  height: 12px;
  height: 0.75rem;
  margin-right: 6px;
  margin-right: 0.375rem;
}

.pageLink__text {
  font-size: 16px;
  font-size: 1rem;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 3.75rem;
  }
}

.title__text {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.08em;
  margin: 0 16px;
  margin: 0 1rem;
}
.title__text::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: -0.2em;
  content: "";
}
.title__text::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -0.2em;
  content: "";
}
@media screen and (min-width: 768px) {
  .title__text {
    font-size: 1.75rem;
    line-height: 1.4285714286;
    margin: 0 1.75rem;
  }
  .title__text::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -0.21429em;
    content: "";
  }
  .title__text::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -0.21429em;
    content: "";
  }
}

.title__deco {
  display: inline-block;
  width: 48.98px;
  width: 3.06125rem;
  height: 12.84px;
  height: 0.8025rem;
}
@media screen and (min-width: 768px) {
  .title__deco {
    width: 4.2225rem;
    height: 1.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */
