@use "global" as *;
.blog {
    margin-bottom: rem(100);

    @include mq('md') {
        margin-bottom: rem(160);
    }
}

.blog__inner {
    max-width: rem(630);
    margin: 0 auto;

    @include mq('md') {
        max-width: $inner;
    }
}