@use "global" as *;

.lower-about {

}

.lower-about__title {
    display: flex;
    justify-content: center; //タイトル中央配置
}

.about-policy {
    margin-bottom: rem(100);

    @include mq('md') {
        margin-bottom: rem(160);
    }
}

.about-policy__inner {
    padding-top: rem(110);
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    
    @include mq('md') {
        padding-top: 14.0625vw;
        padding-bottom: 8.98438vw;
        padding-left: 0;
        padding-right: 0;
    }
}

.about-feature {
    margin-bottom: rem(100);

    @include mq('md') {
        margin-bottom: rem(160);
    }
}

.about-feature__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;

    @include mq('md') {
        padding-left: 0;
        padding-right: 0;
    }
}

.lower-about__gallery {
    margin-bottom: rem(100);

    @include mq('md') {
        margin-bottom: rem(160);
    }
}