@use "global" as *;
.lower-blog__inner {

    @include mq('md-down') {
        margin: 0 auto;
        max-width: rem(600);
        width: 100%;
    }
}

.lower-blog__archives, 
.lower-blog__pager {
    margin-bottom: rem(60);

    @include mq('md') {
        margin-bottom: rem(100);
    }
}

.lower-blog__sidebar {
    margin-bottom: rem(100);

    @include mq('md') {
        margin-bottom: 0;
    }
}
