@use "global" as *;
/* ラッパーモジュールの指定 */
.blog-cards {
    margin-bottom: rem(-30);
    
    @include mq('sm') {
        display: flex;
        flex-wrap: wrap;
    }

    @include mq('md') {
        margin-bottom: rem(-50);
    }
}

.blog-cards__item-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: rem(30);

    @include mq('sm') {
        width: calc(50% - 4.76% / 2);
        margin-right: 4.76%; // 30px
    
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    
    @include mq('md') {
        width: calc(33.33333% - 5% * 2 / 3);
        margin-right: 5%; // 50px
        margin-bottom: rem(50);
        
        &:nth-child(2n) {
            margin-right: 5%;
        }

        &:nth-child(3n){
            margin-right: 0px;
        }
    }
}

.blog-cards__item {
    width: 100%;
    height: auto;
}

.blog-cards__item_badge-new {
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: map-get($layer, default);
}