@use "global" as *;
/* ラッパーモジュールの指定 */
.blogCards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(-30);

    @include mq('md') {
        margin-bottom: rem(-50);
    }
}

.blogCards__itemWrap {
    position: relative;
    width: calc(50% - 4.76% / 2);
    max-width: rem(300);
    margin-right: 4.76%; // 30px
    margin-bottom: rem(30);

    &:nth-child(2n) {
        margin-right: 0;
    }
    
    @include mq('md') {
        width: calc(33.33333% - 5% * 2 / 3);
        margin-right: 5%; // 50px
        margin-bottom: rem(50);
        
        &:nth-child(2n) {
            margin-right: 5%;
        }

        &:nth-child(3n){
            margin-right: 0px;
        }
    }
}

.blogCards__item {
    width: 100%;
    height: auto;
}

.blogCards__item_badgeNew {
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: map-get($layer, default);
}