@use "global" as *;
@use "sass:math";

// カード
.card {
    display: block; // 角丸の為
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: rem(20);
    overflow: hidden; // 角丸の為
}

.card__img-wrapper {
    position: relative; // labelの基準
    aspect-ratio: 75/47; // 通常16/9
    //overflow: hidden; // labelのz-index為消去
}

.card__img {
    width: 100%;
    height: rem(188); // 画像拡大の為
    transition: .4s;
    overflow: hidden; // 画像拡大の為

    /* ホバーで画像拡大 */
    &:focus,
    &:hover {
        transform: scale(1.1, 1.1);
        transform-origin: center;
    }
	/* 画像の微調整時記述 css設計 p314参照*/
	//height: 100%;
	//object-fit: cover;
}

.card__label {
    position: absolute;
    bottom: 0;
    left: 8%;
    transform: translateY(50%);
    z-index: map-get($layer, default);
}

.card__body {
    padding: rem(16) rem(16) rem(13) rem(16);
    background: $color-bg-base;
    transition: all 0.3s ease 0s;
    position: relative;
    
	> :last-child {
        margin-bottom: 0;
	}
    
    @include mq('md') {
        padding: rem(24) rem(24) rem(13) rem(24);        
    }
}

.card__title {
    font-size: rem(16);
    line-height: $leading-tight;
    @include lineHeightCrop(1.5);
    text-align: justify;
    margin-bottom: rem(3); 
}

.card__date {
    font-size: rem(11);
    line-height: math.div( 38, 11 );
    @include lineHeightCrop(3.4545454545);
    color: #888;
}

.card__date-text {
}

