@use "global" as *;
@use "sass:math";

// カード
.card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.card__img-wrapper {
    position: relative; // labelの基準
    aspect-ratio: 75/47; // 通常16/9
}

.card__img {
    width: 100%;
    /* ホバーで画像拡大 */
	/* 画像の微調整時記述 css設計 p314参照*/
	//height: 100%;
	//object-fit: cover;
}

.card__body {

	> :last-child {
        margin-bottom: 0;
	}
}

.card__title {
}

