@use "global" as *;

.card-table {
}

.card-table__img-wrapper {
	position: relative;
	aspect-ratio: 1 / 1;
	border-radius: rem(20);
	overflow: hidden;
}

.card-table__img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 画像の微調整時記述 css設計 p314参照*/
	//height: 100%;
	//object-fit: cover;
}

.card-table__header {
	padding: rem(16);

	> :last-child {
		margin-bottom: 0;
	}
}

.card-table__title {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: 700;
}

.card-table__title-row {
	display: flex;
	align-items: center;
	justify-content: center;

	dt {
		font-size: rem(12);
		margin-right: rem(12);
	}

	dd {
		font-size: rem(18);
		font-weight: $font-bold;
	}
}

.card-table__body {
}

