@use "global" as *;

.contact-form {

}

.contact-form__dl {
    margin-bottom: rem(40);

    @include mq('md') {
        margin-bottom: rem(60);
    }
}

.contact-form__row {
    border-bottom: 1px solid #DDDDDD;
    padding: rem(25) 0;
    
    &:first-child {
        border-top: 1px solid #DDDDDD;
    }

    @include mq('md') {
        padding: rem(28) 0;
        display: grid;
        grid-template-columns: minmax(240px, 1fr) 2fr;
    }
}

.contact-form__label {
    display: flex;
    align-items: center;
    margin-bottom: rem(12);

    @include mq('md') {
        margin-bottom: 0;
    }
}

.contact-form__label_text {
    font-size: rem(16);
    line-height: 1;
    margin-right: rem(12);

    @include mq('md') {
        margin-right: rem(16);
    }
}

.contact-form__input {
    width: 100%;
    [type="text"] {
        box-shadow: none;
        background: #F6F6F6;
        padding: rem(12) rem(16);
        border-radius: rem(4);
        width: 100%;
    }

    [type="tel"] {
        box-shadow: none;
        background: #F6F6F6;
        padding: rem(12) rem(16);
        border-radius: rem(4);
        width: 100%;
    }

    [type="email"] {
        box-shadow: none;
        background: #F6F6F6;
        padding: rem(12) rem(16);
        border-radius: rem(4);
        width: 100%;
    }

    textarea {
        box-shadow: none;
        background: #F6F6F6;
        padding: rem(12) rem(16);
        border-radius: rem(4);
        width: 100%;
        height: rem(160);
        resize: none;

        @include mq('md') {
            height: rem(200);
        }
    }
}


.contact-form__cta {
    text-align: center;
}