@use "global" as *;

.content-link {
	display: inline-block;
    max-width: 335px;
    width: 100%;
	padding: .543em 1em;
    border-radius: rem(12);
	background-color: $color-bg-base;
	color: $color-main;
	font-size: rem(20);
	font-weight: $font-bold;
    letter-spacing: $l-space-normal;
    text-align: center;
	border: 2px solid currentColor; 
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
    
    @include mq('md') {
        padding: .56em 1.214em;        
        font-size: rem(24);
        width: auto;
        max-width: none;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../../../images/common/arrow-down.png) no-repeat center center / contain;
        width: rem(20);
        height: rem(20);
        right: 50%;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 110%);
        transition: 0.3s ease-in-out;
    }
    &:focus,
    &:hover {
        background-color: #DFF1FD;
        
        &::after {
            transform: translate(-50%, 0%);
        }
    }
}

.content-link__text {
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.content-link:hover .content-link__text,
.content-link:focus .content-link__text {
    transform: translateY(-10px);
}
