@use "global" as *;

.content-nav {
    display: flex;
    overflow-x: auto;
  }
  
  .content-nav__inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .content-nav__inner > *:last-child {
    margin-right: 0;
  }
  
  .content-nav__item {
    margin-right: rem(12);

    @include mq('md') {
      margin-right: rem(20);
    }
  }
  
  .content-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(4);
    text-decoration: none;
    transition: .25s;
    box-sizing: border-box;
    line-height: 1;
  }
  
  .content-nav__link:focus,
  .content-nav__link:hover {
    background-color: $color-main;
    color: #fff;
    opacity: .75;
  }
    
  .content-nav__prev .content-nav__link, 
  .content-nav__next .content-nav__link {
    width: rem(108);
    height: rem(39);
    background-color: $color-main;
    border: 1px solid currentColor;
    color: $color-text-secondary;
    
    @include mq('md') {
      width: rem(124);
      height: rem(36);
    }
  }

  .content-nav__list .content-nav__link {
    width: rem(95);
    height: rem(41);
    border: 1px solid currentColor;
    color: $color-main;

    @include mq('md') {
      width: rem(90);
      height: rem(36);
    }
  }
