@use "global" as *;
@use "sass:math";

.cta {
	display: inline-block;
	min-width: 150px; 
	max-width: 100%;
	padding: .43em 1.4em;
	border-radius: 100vh;
	transition: all 0.3s ease 0s;
	display: inline-flex; // iconと横並べ
	align-items: center; 
	justify-content: center;
	
	@include mq('md') {
        
	}
}

.cta_footer_text {
	margin-left: .57em;
}

/* 白いボタン */
.cta_footer_white,
.cta_submit {
	background-color: $color-bg-base;
	border: 1px solid currentColor;
	color: $color-main;

	&:focus,
	&:hover {
		background-color: $color-main;
		border-color: transparent;
		color: $color-text-secondary;
	}
}

.cta_footer_white:hover .ctaIcon_01_fill,
.cta_footer_white:focus .ctaIcon_01_fill {
	fill: $color-bg-base;
} 

.ctaIcon_01_size {

	@include mq('md-down') {
		width: 17.48px;
	}
}

/* 青いボタン */
.cta_footer_blue {
	background-color: $color-main;
	border: 1px solid transparent;
	color: $color-text-secondary;

	&:focus,
	&:hover {
		background-color: $color-bg-base;
		border-color: currentColor;
		color: $color-main;
	}
}

.cta_footer_blue:hover .ctaIcon_02_fill,
.cta_footer_blue:focus .ctaIcon_02_fill {
	fill: $color-main;
} 

.ctaIcon_02_size {

	@include mq('md-down') {
		width: 25.05px;
	}
}

/* 送信ボタン */
.cta_submit {
	display: inline-block;
	min-width: 273px;
	text-align: center;
	letter-spacing: 1.2em;
	text-indent: 1.2em;

	@include mq('md') {
		min-width: 360px;
	}
}