@use "global" as *;

.footer-cta {
    width: 100%;
    height: rem(60);
    background-color: $color-bg-base;
    opacity: .85;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

/* レイアウトの指定 */
.footer-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 41; // ドロワーメニューより上
}

.footer-cta__inner {
    height: inherit;
    padding-left: rem(16);
    padding-right: rem(20);
}

.footer-cta__wrap {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-cta__tel {
    margin-right: 3.2%;
    text-align: center;
}

.footer-cta__text-wrap {

}

.footer-cta__time-text {
    font-size: rem(10);
}

.footer-cta__btn {

}