@use "global" as *;

.gallery-tile {
    display: grid;
    gap: rem(11.6);
    grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
    
    @include mq('sm') {
        gap: rem(11.6);
        grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    }

    @include mq('md') {
        gap: rem(24);
        grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    }

    @include mq('lg') {
        gap: rem(24);
        grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    }
    
    @media screen and (min-width: 1280px) {
        gap: rem(24);
        grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
    }
}

.gallery-tile__item {
    border-radius: rem(20);
    overflow: hidden;
    
    img {
        width: 100%;
        height: auto;
    }
}