@use "global" as *;
.heading02 {
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(20);
}

.heading02__barLeft {
    display: inline-block;
    width: rem(6);
    height: rem(40);
    background-color: $color-main;
    
    @include mq('md') {
        width: rem(8);
        height: rem(52);        
    }
}

.heading02__text {
    font-size: rem(18);
    color: $color-main;
    font-weight: $font-bold;
    letter-spacing: $l-space-normal;
    @include l_height( 18 , 32 );
    @include lineHeightCrop(1.7777777778);
    margin-left: rem(12);
    
    @include mq('md') {
        font-size: rem(24);
        @include l_height( 24 , 32 );
        @include lineHeightCrop(1.3333333333);        
    }
}