@use "global" as *;
.header {
    background: $color-bg-base;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    height: $header-height-sp;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: map-get($layer, header);
    transition: all 0.5s ease 0s;
    
    @include mq('md') {
        height: $header-height-pc;
    }    
}

.header__inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    height: inherit;
    display: flex;
    align-items: center;
    
    @include mq("md") {
        max-width: rem(1200);
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.header__logo {
    width: rem(270);
    margin: 0;
    line-height: 1;
    height: inherit;
    
    a {
        display: block;
        padding: rem(12.54) 0;
    
    
    }
    
    @include mq('md') {

        a {
            padding: rem(22.54) 0;
        }
    }
}

.header-nav {
    display: none; //スマホ時非表示
    
    @media screen and (min-width:1200px) {
        margin-left: auto;
        margin-right: rem(32);
        display: block; 
    }
}

.header__meta {
    display: none; //スマホ時非表示
    
    @media screen and (min-width:1200px) {
        text-align: right;
        width: rem(260);
        display: block; 
    }
}

.header__address {
    font-size: rem(12);
}

.header__tel-number {
}
