@use "global" as *;

.info {
    background-color: $color-bg-base;
    border-radius: rem(8);
    padding: rem(32) rem(10) rem(20);
    
    @include mq('md') {
        width: 100%;
        max-width: 100%;
        border-radius: rem(20);
        padding: rem(40) rem(49);
        display: grid;
        grid-template-columns: rem(477) 1fr; // 横2列
        grid-column-gap: 3.125%; // 40px/1280
        grid-template-rows: 1fr; // 縦1行
        align-items: center;  
    }
}

.info__body {

    @include mq('md') {
        grid-area: 1 / 1 / 2 / 2; // 自分の場所を定義

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.info__logo {
    width: rem(311);
    margin: 0 auto; // 右側の謎のmargin回避
    margin-bottom: rem(8);
    
    img {
        line-height: 0;
        vertical-align: top;
    }
    
    @include mq('md') {
        width: rem(403);
    }
}

.info__access {
    text-align: center;
    margin-bottom: rem(26);
}

.info__access-row {
    display: inline-flex;

    dt {
        margin-right: rem(14);
    }

    dt,
    dd {
        @include l_height( 14 , 36 );
        @include lineHeightCrop(2.5714285714);    
    }
}

.info__tel-number {
    text-align: center;
}

.info__text-wrap {
    text-align: center;
    margin-bottom: rem(20);
}

.info__time-text {
    font-size: rem(12);
    color: $color-main;
}

.info__cta-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: rem(20);
}   

.cta_info_row {
    margin-right: 4.47761%; // ボタン同士の隙間
    
    @include mq('md') {
        margin-right: 4.19287%;
    }
}

.info__table {
    width: 100%;
    margin-bottom: rem(20);

    img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        border-radius: rem(20);
    }
}

.info__map {
    width: calc(100% - 20px);
    margin: 0 10px;
    height: rem(315); 
    
    @include mq('md') {
        flex: 0 1 30.07812%; // 385/1280
        grid-area: 1 / 2 / 2 / 3; // 自分の場所を定義
        height: rem(385);
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}
