@use "global" as *;
.page-link {
    display: inline-flex;
    align-items: center;
}

.page-link__icon {
    display: inline-block;
    width: rem(6);
    height: rem(12);
    margin-right: rem(6);
}

.page-link__text {
    font-size: rem(16);
}