@use "global" as *;

.recommend {
    width: 100%;
    text-align: center;
}

.recommend__title {
    width: rem(177);
    display: inline-block;
    margin-bottom: rem(12);

    img {
        display: block;
        width: 100%;
    }
}

.recommend__feature {
    width: 100%;
    margin-bottom: rem(24);

    img {
        display: block;
        width: 100%;
    }
}

.recommend__content {
    @include l_height( 14 , 24 );
    @include lineHeightCrop(1.7142857143);
    text-align: justify;

    & span.text-color_notice {
        color: #EE5A6D;
    }
}