@use "global" as *;
@use "sass:math";

.section-title {
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(40);
    @include mq('md') {
        margin-bottom: rem(60);
    }
}

.section-title__text {
    font-size: rem(20);
    font-weight: $font-bold;
    line-height: math.div( 28, 20 );
    @include lineHeightCrop(1.4);
    letter-spacing: $l-space-normal;
    margin: 0 rem(16);

    @include mq('md') {
        font-size: rem(28);
        line-height: math.div( 40, 28 );
        @include lineHeightCrop(1.4285714286);
        margin: 0 rem(28);
    }
}

.section-title__deco {
    display: inline-block;
    width: rem(48.98);
    height: rem(12.84);
    
    @include mq('md') {
        width: rem(67.56);
        height: rem(20);
    }
}