@use "global" as *;

.sidebar-about {
}

.sidebar-about__card {
    box-shadow: none;
    margin-bottom: rem(14);
}

.sidebar-about__card-img-wrapper {
}

.sidebar-about__card-body {
    padding-top: rem(20);
}

.sidebar-about__card-title {

}

.sidebar-about__card-title {
    font-size: rem(16);
    font-weight: $font-bold;
    margin-bottom: rem(14);
}   

.sidebar-about__card-text {

}

.sidebar-about__link {
    color: $color-main;
}