@use "global" as *;

.staff-greeting__media {
    margin-bottom: rem(100);

    @include mq('md') {
        display: block;
        display: grid;
        column-gap: 8%;
        row-gap: 8.41514%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 325px auto;
        margin-bottom: rem(160); 
    }
}

.staff-greeting__body {
    margin-bottom: rem(40);

    @include mq('md') {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: 0;
        margin-bottom: 0;
    }

    & p:nth-of-type(2) {

        @include mq('md-down') {
            margin-bottom: rem(40);            
        }
    }
}

.staff-greeting__name {
    text-align: right;
}

.staff-greeting__img {
    margin-bottom: rem(40);

    @include mq('md') {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-bottom: 0; 
    }
}

.staff-greeting-summary {

    @include mq('md') {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.staff-greeting-summary__heading {
    font-size: rem(16);
    padding-bottom: rem(6);
    border-bottom: 1px solid $color-text-main;
}

.staff-greeting-summary__content {
    padding-top: rem(16);
    > :last-child {
        margin-bottom: 0;
    }

    dt {
        margin-right: rem(16);
    }
    
    dd,
    dt,
    li {
        @include l_height( 14 , 24 );
        @include lineHeightCrop(1.7142857143);    
    }
}

.staff-greeting-summary__wrap {
    display: flex;
    margin-bottom: rem(16);   
}

.staff-greeting-summary_career {
    margin-bottom: rem(40);

    @include mq('md') {
        margin-bottom: rem(32);  
    }
}

.staff-greeting-summary_license {

    & li:not(:last-of-type) {
        margin-bottom: rem(16);
    } 
}

