@use "global" as *;

.staff-summary  {
    
    &:not(:last-child) {
        margin-bottom: rem(40);

        @include mq('md') {
            margin-bottom: rem(60);
        }
    }
}

.staff-summary__heading {
    font-size: rem(16);
    padding-bottom: rem(6);
    margin-bottom: rem(40);
    border-bottom: 1px solid #707070;
}

.staff-summary__cards {

    @include mq('md') {
        display: grid;
        column-gap: rem(60);
        row-gap: rem(40);
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }

    @include mq('lg') {
        column-gap: rem(80);
        row-gap: rem(60);
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}

.staff-summary__card {
    width: 100%;
    margin-right: 0;

    &:not(:last-child) {
        margin-bottom: rem(60);

        @include mq('md') {
            margin-bottom: 0; // row-gapがあるから不要
        }
    }
}