@use "global" as *;
.vertical-Posts {
	max-width: rem(538);
	width: 100%;
}

.vertical-Posts__item {
	padding-top: rem(9);
	padding-bottom: rem(9);
	padding-right: 1.5em;
	padding-left: .82em;
	border-bottom: 1px solid $color-text-main;
    position: relative;
	
	&:first-child {
		border-top: 1px solid $color-text-main; // 行が追加された時用
	}

	&::after {
		content: "";
		width: rem(14);
		height: rem(14);
		background: url(./../../images/common/arrow-right-black.png) no-repeat center center / contain;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease 0s;
	}

	&:hover::after,
    &:focus::after {
        background: url(./../../images/common/arrow-right-blue.png) no-repeat center center /contain;
        right: -.5em;
    }
}

.vertical-Posts__link {

}

.vertical-Posts__wrap {
	display: flex;
	align-items: center;
}

.vertical-Posts__header {
}

.vertical-Posts__date {
	font-size: rem(12);
	margin-right: rem(24);
	transition: all 0.3s ease 0s;
}

.vertical-Posts__title {
	transition: all 0.3s ease 0s;
}

/* ホバー時 */
.vertical-Posts__item:hover .vertical-Posts__date,
.vertical-Posts__item:hover .vertical-Posts__title {
	color: $color-main;
} 

/* フォーカス時 */
.vertical-Posts__link:focus .vertical-Posts__date,
.vertical-Posts__link:focus .vertical-Posts__title {
	color: $color-main; // a要素にしかfocusがあたらない為の指定
}
